*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    
    background-color: #050505;   
}

/*Start of footer section*/

section.footer-section{
    display: flex;
    flex-direction: column;
}

.footer-section{
    height: 70vh;
    width: 90%;
    margin: auto;
}
.footer-parent{
    color: white;  
    display: flex;
}

.about{
    flex:1;
  
}

.nothing{
    flex: 1;
}

.contact{
    flex:1;
}

h3.header-heading{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

img.footer-vector-img{
    width: 100%;
    margin:1rem 0 1rem 0 ;
}

.footer-details{
    
    display: flex;
}

.section-1{
    height: 45vh;
    flex: 1;
}
.section-2{
    flex: 1;
    height: 45vh;
}

.section-3{
    flex: 1;
    height: 45vh;
    display: flex;
    flex-direction: column;
    
}

h6.address{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

span{
    color: blue;
}

.back-to-top{
    display:flex;
    justify-content: center;
    margin: 5rem 0 0 0;
    align-items: center;
}

a.top-link{
    text-decoration: none;
}

h6.back-to-top-text{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

h6.back-to-top-text:hover{
    color: blue;
}

h6.contact{
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.facebook{
    display: flex;
    align-items: center;
}
.instagram{
    display: flex;
    align-items: center;
}
.twitter{
    display: flex;
    align-items: center;
}

a.social-links{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

a.social-links:hover{
    color: blue;
}

/*End of footer section*/
